.git
.env
.env.*
!.env.example
!.env.production.example
.reference
node_modules
.video-tools
data
*.zip
*.log
Brand Assets/**
!Brand Assets/
!Brand Assets/Glassify/
!Brand Assets/Glassify/glassify_logo_website.svg
!Brand Assets/Glassify/website-light/
!Brand Assets/Glassify/website-light/images/
!Brand Assets/Glassify/website-light/images/hero-car.png
!Brand Assets/Glassify/website-light/simulation/
!Brand Assets/Glassify/website-light/simulation/assets/
!Brand Assets/Glassify/website-light/simulation/assets/vehicle_icons/
!Brand Assets/Glassify/website-light/simulation/assets/vehicle_icons/*.png
!Brand Assets/iDash/
!Brand Assets/iDash/idash-static-site/
!Brand Assets/iDash/idash-static-site/img/
!Brand Assets/iDash/idash-static-site/img/main logo.png
!Brand Assets/iDash/i-dash website/
!Brand Assets/iDash/i-dash website/hero-product.png
!Brand Assets/iDash/i-dash website/img/
!Brand Assets/iDash/i-dash website/img/apple carplay interface 1.png
!Brand Assets/iDash/i-dash website/img/snapdragon_icore_mockup.png
!Brand Assets/KENSHO Beam/
!Brand Assets/KENSHO Beam/kensho-beam-g3-light.svg
!Brand Assets/KENSHO Beam/kensho-beam-g3-dark.svg
!Brand Assets/KENSHO Beam/kensho-beam-g3-mono-white.svg
!Brand Assets/KENSHO Beam/website/
!Brand Assets/KENSHO Beam/website/img/
!Brand Assets/KENSHO Beam/website/img/logo.svg
!Brand Assets/KENSHO Beam/website/img/hero-bg.png
!Brand Assets/KENSHO Beam/website/img/products/
!Brand Assets/KENSHO Beam/website/img/products/*.png
